services:

  php-8.4:
    image: ghcr.io/digital-craftsman-de/cqs-routing-php-8.4
    env_file:
      - .env
    volumes:
      - .:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"

  php-8.5:
    image: ghcr.io/digital-craftsman-de/cqs-routing-php-8.5
    env_file:
      - .env
    volumes:
      - .:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
