version: '3.7'

services:

  php:
    build: ./.docker/php
    image: cqrs_php
    env_file:
      - .env
    volumes:
      - .:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
